<%- include('./partials/header') %>
<main>
    <!-- <section>
        <img src="/2.jpg" alt="India Gate" class="intro-img">
    </section> -->
    <section>
        <br><br>
        <h1 class="center">Book Tours in India</h1>
        <form action="/" class="get" method="get" autocomplete="off">
            <input type="text" name="search" id="search" placeholder="Search for Tours in India" onkeyup="liveSearch()">
            <button type="submit">Go!</button>
        </form>
        <h2 class="center">Popular Destinations</h2>
        <br>
        <p class="showing center"></p>
        <br>
        <div class="cards">
            <% locals.cities.forEach(function(city) { %>
                <a href="/city/<%= city._id %>" class="card-link" date-state="<%- city.state %>" data-city="<%= city.city %>">    
                    <div class="card">
                        <h3><%= city.city %>, <%= city.state %></h3>
                    </div>
                </a>
            <% }); %>
        </div>
    </section>
    <script>
        const search = document.getElementById('search');
        const showing = document.querySelector('.showing');
        const cards = document.querySelectorAll('.card-link');
        const liveSearch = (e) => {
            // filter the results based on the input
            var filter = search.value.toUpperCase();
            cards.forEach(function(card) {
                var city = card.getAttribute('data-city');
                var state = card.getAttribute('date-state');
                if (city.toUpperCase().includes(filter) || state.toUpperCase().includes(filter)) {
                    card.classList.remove('hide');
                } else {
                    card.classList.add('hide');
                }
            });
            const hidden = calcHidden();
            if (cards.length === hidden) {
                        showing.innerHTML = 'No results found';
            } else {
                showing.innerHTML = 'Showing ' + (cards.length - hidden) + ' of ' + cards.length + ' results';
            }

        };

        const calcHidden = () => {
            let hidden = 0;
            cards.forEach(function(card) {
                if (card.classList.contains('hide')) {
                    hidden++;
                }
            });
            return hidden;
        };

        document.querySelector('form').addEventListener('submit', (e) => {
            e.preventDefault();
            if(search.value === '') {
                return;
            }
            cards.forEach(function(card) {
                if(!card.classList.contains('hide')) {
                    window.location.href = card.href;
                    return;
                }
            });
        });
    </script>
</main>
<%- include('./partials/footer') %> 